* {
    margin: 0 0 0 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    text-align: left;
    position: relative;
    min-height: 80%; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 100%; /* For IE */ 
}
#head {
    width:778px; 
}
#banner {
    width:778px; 
    height:60px; 
 }
#content {
    width:776px;
    padding-bottom:20px;
    min-height: 270px; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 50%; /* For IE */ 	
    border-left:1px solid #B1B1B1;
    border-right:1px solid #B1B1B1;
}
#content:after {
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}
#content li {
    list-style:none;
    display:block;
}
#bottom {
    width: 776px;
    height: 28px;

    border-left:1px solid #B1B1B1;
    border-right:1px solid #B1B1B1;
}
#bottom li {
    list-style:none;
    float:left;
    height: 28px;
}
#bottom a {
    display:block;
    height:28px;
}
#bottom a.b1 {
    position:absolute;
    left:1px;
    width:156px;
}
#bottom a.b2 {
    width:54px;
    margin-right:2px;
    position:absolute;
    left:157px;	
}
#bottom a.b2 ul {
    text-align:right;
    padding-top:5px;
}
#bottom a.b3 {
    width:564px;
    height:28px;
    position:absolute;
    left:211px;
    background-color:#81d549;
    margin-right:2px;
				text-align:right;
}
.copyright {height:16px;width:776px; padding-top:10px; border-left:1px solid #B1B1B1; border-right:1px solid #B1B1B1; text-align:center;}
.bottom_line {background-color:#5aa929;height:8px; width:778px;}
.submit {padding-top:2px;}
#bottomx {
    width: 100%;
    position: absolute;
    bottom: 0 !important;
    bottom: -1px; /* For Certain IE widths */
    height: 1px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }
a:hover { text-decoration:none; }
#loginArea {}
.login_frame
{
    height: 285px;
    left: 50%;
    margin-left: -175px;
    position: absolute;
    top: 50px;
    width: 350px;
	background: url(../img/login_bg.gif) no-repeat; 
	padding: 7px;
}
.login_ul_1
{ 
    list-style:none;
}
.login_button ul
{
	display:inline;
	list-style-type: none;
}
.login_li_2  
{
    padding-left: 5px;
    padding-top: 26px;
    width: 99%;
}
.login_li_3 
{
    padding-left: 0px;
    margin-top: 15px;
    width: 99%;
}

.login_li_3 table tr td, .login_li_2  table tr td {
	text-align: justify;
	font-size: 18px;
	font-weight: bolder;
}
.type{ position:absolute;top:32px;right:25px;font:20px Arial,sans-serif;color:#fff;z-index:999; }

html, body {
    height: 100%; /* Required */
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    min-height:101%;
}

.username,.password {
    width:141px;
    height:18px;
    border:medium none;
    color: #000000;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    vertical-align:middle;
    text-align:left;
    overflow: hidden;
}
.login {
    height:22px;
    width:70px;
    vertical-align:middle;
    text-align:center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.note{
	font-size: 12px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color:#FFFF00;
}

.logintitle{
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-width: 1px 1px 0 1px;
	border-bottom: 0;
	width:330px;
	height:40px;
	margin-left:1px;
}

.logininput{
	display: block;
	position: relative;
	height: 16px;
	padding: 12px 10px 12px 10px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #666;
}

.loginpassword{
	display: block;
	position: relative;
	height: 16px;
	width:155px;
	padding: 12px 10px 12px 10px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #666;
}

.loginbtn{
	width:125px;
	display: block;
	height: 48px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	color: #fff;
	background: #3f89ec;
	border-radius: 3px;
	border: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


#myLayer{
    border-style:solid; 
    border-width:2px; 
    border-color:#0B363C; 
    
    background: -o-linear-gradient(90deg, #C6FFB4, #F9FFF5) ;
    background: -moz-linear-gradient(90deg, #C6FFB4, #F9FFF5) ;
    background: -webkit-gradient(linear, left bottom, left top, from(#C6FFB4), to(#F9FFF5) );

    /* IE6,IE7,IE8 */     
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9FFF5',endColorstr='#C6FFB4');

    position: absolute; 
    z-index: 9; 
    left: 47%;
	top: 130px; 
    visibility: hidden;   
}

div #layer_login_title{
    width:172px; height:29px; 
    background: url(../img/pop_up_title.gif); 
    no-repeat; 
    z-index:11;
}

div #layer_login_content{
    position:relative; 
    width:160px; 
    z-index:999; 
    padding-top:5px; padding-bottom:28px; padding-left:12px; padding-right:0px;
}