* {
    margin: 0 0 0 0;
    padding: 0;
}
#container {
    margin: 0 auto;
    width: 808px;
    text-align: left;
    position: relative;
    min-height: 100%; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 100%; /* For IE */ 
}
#head {
    width:808px; 
}
#banner {
    width:808px; 
    height:67px; 
}
.langenglish { width:72px;height:28px;background:url(../img/english.gif) no-repeat left top;}
.langchinese { width:72px;height:28px;background:url(../img/chinese.gif) no-repeat left top;}

#h1 {
    height:28px;
    padding-top:3px;
}
#h1 ul {
    list-style:none;
    margin:0 0 0 0;
}
#h1 li {
    float:left;
}
#h1 li a {
    display:block;
}
.h1_left { width:172px; height:28px; background-color:#69ce28;padding-left:10px;}
.h1_right { width:73px;height:26px; background-color:#80D549; position:absolute;left:700px; top:63px; padding-left:5px;padding-top:2px;}
.space { width:2px; height:28px;}


.h1_new {
    width:180px;
    min-height:270px;
    height:100%;
    padding:0 1px 0 1px;
    float:left;
    border:1px solid #c7c7c7;
}
.h1_new a:link { color: #000000;    text-decoration: none; }
.h1_new a:visited { color: #000000;    text-decoration: none; }
.h1_new a:hover { color: #000000;    text-decoration: none; }

table.menu { width:180px;}
table.menu tr {}
table.menu tr td.h1_top { height:1px;}
table.menu tr td.h1_mid {  }
table.menu tr td.h1_bottom { height:1px;}

.h1 { color:#000000; font-weight: bold;}
table.menu_table tr.h1 { color:#000000; font-weight: bold;} 
table.menu_table tr.h1 td.left { width:3px;height:25px;}
table.menu_table tr.h1 td.add { height:25px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h1 td.mid { padding-top:2px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h1 td.right { width:3px;}

.h1_s {color: white; font-weight: bold;}
table.menu_table tr.h1_s { color: white; font-weight: bold;} 
table.menu_table tr.h1_s td.left { width:3px;height:25px; background-color:#3d9e01;}
table.menu_table tr.h1_s td.add { height:25px; background-color:#3d9e01;}
table.menu_table tr.h1_s td.mid { background-color:#3d9e01; padding-top:2px;}
table.menu_table tr.h1_s td.right { width:3px; background-color:#3d9e01;}

table.menu_table { width:180px;}
table.menu_table tr.h2_content { }
table.menu_table tr.h2_content td.left { width:3px;height:25px;border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h2_content td.add { width:10px; height:25px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h2_content td.mid { padding:2px 0 0 12px; border-bottom: 1px solid #c7c7c7;}
table.menu_table tr.h2_content td.right { width:3px;border-bottom: 1px solid #c7c7c7;}

table.menu_table tr.h2_s {} 
table.menu_table tr.h2_s td.left { width:3px;height:25px; background-color:#b4e693;}
table.menu_table tr.h2_s td.add { height:25px; background-color:#b4e693;}
table.menu_table tr.h2_s td.mid { background-color:#b4e693; padding:2px 0 0 12px;}
table.menu_table tr.h2_s td.right { width:3px; background-color:#b4e693;}

table.menu_table tr.h3 { color: black; height:18px;} 
table.menu_table tr.h3 td.left { width:3px; border-bottom:1px solid #f9fff3;}
table.menu_table tr.h3 td.add { border-bottom:1px solid #f9fff3;}
table.menu_table tr.h3 td.mid { height:20px; padding-left:30px; border-bottom:1px solid #f9fff3;}
table.menu_table tr.h3 td.right { width:3px; border-bottom:1px solid #f9fff3;}

table.menu_table tr.h3_s { height:18px;} 
table.menu_table tr.h3_s td.left { width:3px;background-color:#e1f5d3; border-top:1px solid #f9fff3;}
table.menu_table tr.h3_s td.add { background-color:#e1f5d3; border-top:1px solid #f9fff3;}
table.menu_table tr.h3_s td.mid { height:20px; padding:2px 0 0 30px; background-color:#e1f5d3; border-top:1px solid #f9fff3;}
table.menu_table tr.h3_s td.right { width:3px;background-color:#e1f5d3; border-top:1px solid #f9fff3;}

table.menu_table tr.h2_space { height:30px;} 

table.menu_table tr.h2_help { height:20px;} 
table.menu_table tr.h2_help td.left { width:3px;}
table.menu_table tr.h2_help td.add { }
table.menu_table tr.h2_help td.mid_right { height:20px; text-align:right;}
table.menu_table tr.h2_help td.right { width:3px;}

table.menu_table tr.bghover, table.menu_table tr.bghover td { background-color:#ffc !important; COLOR: #3d9e01 !important;} 

.title { width:592px;height:26px;background-color:#dcdcdc;float:right;text-align:right;}
.title_left { width:452px;height:21px;float:left;text-align:left;}
.title_left { padding:5px 0 0 10px; /* FF */ }
*html .title_left { padding:7px 0 0 10px; /* IE6 */ }
*+html .title_left { padding:7px 0 0 10px; /* IE7 */ }

.title_lang {width:70px;height:21px;padding-top:2px;float:left;text-align:right;}
.title_log {width:60px;height:21px;float:left;text-align:right;position:absolute;top:0px;right:15px;}
.title_log { padding-top:5px; /* FF */ }
*html .title_log { padding-top:7px; /* IE6 */ }
*+html .title_log { padding-top:7px; /* IE7 */ }


.title a:link { color: #000000;    text-decoration: underline; }
.title a:visited { color: #000000;    text-decoration: underline; }
.title a:active { color: #000000;    text-decoration: underline; }
.title a:hover { color: #000000;    text-decoration: underline; }

.help
{
    left: 736px;
    position: absolute;
    top: 130px;
}
.help_button,.lang_button,.exit_button
{
    height: 23px;
    text-align: center;
    vertical-align: middle;
    width: 47px;
}
.help_a { width:66px; height:20px;}
.help ul { list-style:none;}
.h1 li {}

#content {
    width:808px;
    padding-bottom:0px;
    min-height: 270px; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 50%; /* For IE */
}
#content:after {
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}
#content li {
    list-style:none;
    display:block;
}
#line {
    position:absolute; 
    width:430px; 
    height:15px; 
    left:188px;
    border-bottom:1px solid #336699;
}
#div1 {
    width:534px;
    float:left;
    margin-top:20px;
}
#div1 { margin-left:20px; /* FF */ }
*html #div1 { margin-left:20px; /* IE6 */ }
*+html #div1 { margin-left:20px; /* IE7 */ }

.space_0 {
    padding-left:40px!important; /* IE7+FF */
    padding-left:20px;
}
.space_1 {
    padding-left:70px!important; /* IE7+FF */
    padding-left:50px;
}

.space_paddingL1 {
    padding-left:20px!important; /* IE7+FF */
    padding-left:20px;    
}

#div1_1 {
    width:524px;
    float:left;
    margin-left:40px;
    margin-top:40px;
}
#div2 {
    padding-left:179px;
    padding-top:10px;
}
#div3 {
    padding-left:179px;
    padding-top:30px;
}
#div4 {
    height:30px;
    width:450px;    
}

.pvc_0{
    position:relative;
}
.pvc_1{
    margin-left:100px;
    width:18px;
    overflow:hidden;
} 

.pvc_2{
    width:85px;
    margin-left:-100px
}

.pvc_3{
    width:65px;
    position:absolute;
    left:2px;
    top:2px;
    height:18px
} 


table.item {
  width:450px;
}
table.item_1 {
    position:absolute;
    padding-left:50px;
}
.title_1 {
    background-color:#527EA1;
    text-align:center;
    height:18px;
}
table.item tr.title_2 {
    background-color:#FFFFFF;
    text-align:center;
    height:18px;
}
table.item tr.title_3 {
    background-color:#EEF7FF;
    text-align:center;
    height:18px;
}
table.item td.button_td {
    text-align:right;
}
.white {
    background-color:#FFFFFF; 
    text-align:center;   
    height:25px;
}
.blue {
    background-color:#f7f7f7; 
    text-align:center;   
    height:25px;
}
table.item_2 {
    margin-right:-10px;
    width:490px;
}
table.item_3 {
    width:450px;
}
table.item_4 {
    width:508px;
}

.bottom_div { float:left; height:35px;display:block;background-color:#427594;}
.bottom_table { width: 808px; height: 35px;}
.bottom_td1 { width:164px;height:35px;}
.bottom_td2 { width:559px;text-align:right;}
.bottom_td3 { width:85px;}
.copyright {
	font-size:12px;
	font-family:Arial;
	float:left;
	display:block;
	height:16px;
	width:776px; 
	padding-top:10px;
	text-align:center;
}

.submit {padding-top:2px;}
.hand { cursor:pointer }

.h1 a:link { color: #005207;font-weight: bold;    text-decoration: none; }
.h1 a:visited { color: #005207;font-weight: bold;    text-decoration: none; }
.h1 a:active { color: #FFFFFF;font-weight: bold;    text-decoration: none; }
.h1 a:hover { color: #005207;font-weight: bold;    text-decoration: none; }

.h2 a:link { color: #000000;    text-decoration: none; }
.h2 a:visited { color: #000000;    text-decoration: none; }
.h2 a:active { color: #000000;    text-decoration: none; }
.h2 a:hover { color: #000000;    text-decoration: none; }

.h3 a:link { color: #000000;    text-decoration: none; }
.h3 a:visited { color: #000000;    text-decoration: none; }
.h3 a:active { color: #000000;    text-decoration: none; }
.h3 a:hover { color: #000000;    text-decoration: none; }


.h3_s { color: #000000;    } 


.p {
    padding-top:3px;
    line-height:1.2em;
}
.hand { 
    cursor:pointer
}

.notewlan { 
    position:absolute;
    left:250px;
    height:30px;
    margin-top:8px;
}
.notewlan1 { 
    margin-top:18px;
    text-align:left;
    margin-left:60px;
}

.hreftext a:link { color: #0000ff;    text-decoration: underline; }
.hreftext a:visited { color: #0000ff;    text-decoration: underline; }
.hreftext a:active { color: #0000ff;    text-decoration: underline; }
.hreftext a:hover { color: #ff0000;    text-decoration: underline; }
.dragAble {position:relative;cursor:move;}

html, body {
    height: 100%; /* Required */
    font-size: 12px;
    background-color:#fff; /* 613000551662 - style unifys in case window color changes */
}

.content {
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.note{
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color:#FFFF00;
}
.notecontent{
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
color:#000000;
}
.button {
height:23px;
width:73px;
vertical-align:middle;
text-align:center;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.button2,.button3,.button4 {
    height:20px;
    vertical-align:middle;
    text-align:center;
    font-size: 12px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
.button2 {
    width:61px;
}
.button3 {
    width:80px;
}
.button4 {
    width:110px;
}

.help_button,.lang_button,.exit_button {
    height:23px;
    width:47px;
    vertical-align:middle;
    text-align:center;
}

.inputId,.inputId2,.inputId3,.inputId4,.inputId5,.inputId6,.inputId7,.inputId8,.inputId9,.inputId10,.inputId11,.inputId12{
height:17px;
border:1px solid #7F9DB7;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
vertical-align:middle;
text-align:left;
}
.inputId {
    width:120px;
}
.inputId2 {
    width:85px;
}
.inputId3 {
    width:17px;
}
.inputId4 {
    width:100px;
}
.inputId5 {
    width:105px;
}
.inputId6 {
    width:230px;
}
.inputId7 {
    width:30px;
}
.inputId8 {
    width:160px;
}
.inputId9 {
    width:65px;
}
.inputId10 {
    width:85px;
}
.inputId11 {
    width:200px;
}
.inputId12 {
    width:140px;
}

.list_1,.list_2,.list_3,.list_4,.list_5,.list_6,.list_7,.list_8, .list_9, .list_10, .list_11, .list_12, .list_13{
height:20px;
border:1px solid #7F9DB7;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
vertical-align:middle;
text-align:left;
}
.list_1 {
    width:90px;	
}
.list_2 {
    width:160px;
}
.list_3 {
    width:370px;
}
.list_4 {
    width:175px;
}
.list_5 {
    width:55px;
}
.list_6 {
    width:120px;
}
.list_7 {
    width:65px;
}
.list_8 {
    width:85px;	
}
.list_9 {
    width:235px;
}
.list_10 {
    width:140px;	
}
.list_11{
    width:190px;
}
.list_12{
    width:450px;
}
.list_13{
    width:330px;
}

.textarea_1 {
height:200px;
width:440px;
border:1px solid #7F9DB7;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
text-align:left;
resize: none; /* to fix border for google safari */
}
.uiNoBorder {
BORDER-RIGHT: 0px;
BORDER-TOP: 0px;
BORDER-LEFT: 0px;
BORDER-BOTTOM: 0px;
background:transparent;
TEXT-ALIGN: center;
font-size: 12px;
font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}
table.infor {
 width:410px;
 background-color:#E8E8E8;
}

table.infor tr.white_1 {
    background-color:#FFFFFF;
}

table.infor td.tdleft {
    padding-right:5px;
    width:45%;
    height:27px;
    text-align:right;
}
table.infor td.tdleft_1 {
    padding-right:5px;
    width:25%;
    height:27px;
    text-align:center;
}
table.infor td.tdright {
    padding-left:5px;
    text-align:left;
}
table.infor tr.blue_1 {
    background-color:#f7f7f7;    
}
table.table {
}
table.table td.td1 {
    width:40%;
    height:24px;
    text-align:right;	
}
table.table td.td1_1 {
    width:40%;
    height:18px;
    text-align:right;	
}
table.table td.td1_11 {
    height:24px;	
}
table.table td.td1_2 {
    width:30%;
    height:24px;
    text-align:right;	
}
table.table td.td1_3 {
    width:25%;
    height:24px;
    text-align:right;	
}
table.table td.td1_4 {
    width:45%;
    height:24px;
    text-align:right;	
}
table.table td.td2 {
    text-align:left;
    padding-left:5px;
}

table.table td.td22 {
    height:24px;
}

table.table td.td3 {
    height:36px;
    text-align:center;
}
table.table td.td4 {
    width:25%;
    height:24px;
    text-align:right;	
}
table.table td.td5 {
    width:10%;
    height:24px;
    text-align:right;	
}
table.table td.td6 {
    width:40%;
    height:20px;
    text-align:right;	
}
table.table td.td7 {
    width:25%;
    height:24px;
    text-align: center;	
}
table.table td.td8 {
    width:15%;
    height:24px;
    text-align: center;	
}
table.table td.td9 {
    width:50%;
    height:24px;
    text-align: right;	
}
table.table td.td10 {
    text-align:left;
    padding-left:5px;
}
table.table td.td11 {
    width:40%;
    height:24px;
    text-align:right;	
}
table.table td.td12 {
    width:40%;
    height:18px;
    text-align:right;	
}
table.table td.td13 {
    text-align:left;
    padding-left:5px;    	
}
table.table td.td14 {
    text-align:center;
}
table.table td.td15 {
    text-align:center;
}
table.table td.td16{
    width:60%;
    height:24px;
    text-align: right;	
}
#div5 {
    width:550px;
    text-align:center;
    margin-top:40px;
}

.green { color:green;}
.red { color:red;}
/*help page xumei*/
.div1 {
    width:629px;
    float:right;
    padding-top:15px;
    margin-left:24px;
}

.p {
    padding-top:3px;
    line-height:1.2em;
}

.CNLTreeMenu img.s {cursor:pointer;vertical-align:middle;}
.CNLTreeMenuLink {color:#407090; cursor:pointer}
.CNLTreeMenu ul {padding:0;}
.CNLTreeMenu li {list-style:none;padding:0;}
.CNLTreeMenuAddMinus {font-size:8.0pt; font-weight:900; font-family:Arial; color:#407090; cursor:pointer;}
.CNLTreeMenuDot {font-size:7.0pt; color:#407090;}
.CNLTreeMenuLink {color:#407090; cursor:pointer}
.CNLTreeMenuLinkBlack {color:black; cursor:pointer}
.Closed ul {display:none;}
.Child img.s {background:none;cursor:default;}
#CNLTreeMenu1 ul {margin:0 0 0 17px;}
#CNLTreeMenu1 img.s {width:20px;height:15px;}
#CNLTreeMenu1 .Opened img.s {background:url(../img/opened.gif) no-repeat 0 0;}
#CNLTreeMenu1 .Closed img.s {background:url(../img/closed.gif) no-repeat 0 0;}
#CNLTreeMenu1 .Child img.s {background:url(../img/child.gif) no-repeat 3px 5px;}
#CNLTreeMenu1{float:left;width:249px;border:1px solid #FFFFFF;background:#FFFFFF;color:inherit;margin:3px;padding:3px;}
#CNLTreeMenu1 {padding-bottom:15px;}

.word-break-all{
  word-wrap:break-word;
}
.dmsPopUpDiv {
  position:absolute;
  z-index:9999;
  width:500px;
  height:200px;
  top:250px;
  left:225px;
  background-color:#EFEFEF;
  border: 2px solid #009900;
  padding:5px;
  overflow:auto;
  line-height:18px;
}
.text_h2_s  
{
    font-size: 12px;
}
.h2_link
{
    cursor: pointer;
}
.text_content
{ 
    font-size: 12px;
}

.main_content
{
    height: auto !important;
    min-height: 370px;
    padding-bottom: 0;
	padding-top: 2px;
    width: 808px;
}
#e8_div1 {
    width:600px;
    min-height: 355px; /* For Modern Browsers */
    height: auto !important; /* For Modern Browsers */
    height: 355px; /* For IE */
    float:right;
    padding-top:15px;
    z-index:999;
}

.h2_s {
    color: white;
    font-size: 12px;
}

.div4 {
    height: 30px;
    width: 450px;
}

.QoSmoduSeleButton_blue{ 
    width:100%; 
    height:26px!important;    
    height:24px; 
    border:1px solid #B1B1B1; 
    background-color:#F7F7F7;
    font-size:11px;
}

.QoSmoduSeleButton_white{ 
    width:100%; 
    height:28px!important;    
    height:24px;     
    border:1px solid #B1B1B1; 
    background-color:#FFFFFF;
    font-size:11px;
}

.QoSmoduSeleTD_left{ 
    height:24px; 
    text-align:center;
}

.QoSmoduSeleTD_middle{ 
    height:24px; 
    text-align:center;
}

.QoSmoduSeleTD_right{ 
    height:24px; 
    text-align:center;
}

.QoSmoduSeleButton_left{ 
    width:100%; 
    height:24px; 
    border:0px solid #B1B1B1; 
    background-color:#F7F7F7;
    font-size:11px;
}

.msgtb {
	width:355px; 
	height:127px; 
	border:2px solid #FDFCF3; 
	font:14px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.msgtr1{
	background-color:#DDDDDD;
	padding-left:10px;
	padding-top:2px;
	font-weight:bold;
}

.msgtr2{
	background-color:#F1F1F1;
	padding-left:10px;
	padding-right:2px;
	padding-bottom:10px;
	vertical-align:middle;
}

.msgtr3{
	background-color:#F1F1F1;
}

.msgtr4{
	background-color:#F1F1F1;
}

.msgbutton{
	background-color:#F1F1F1;
	width:60px;
}


div#class1 {
	font-size: 16px;
    font-weight: bold;
	color:white;
	height:32px;
	padding-bottom: 6px;
	background: #6293bb url(../img/shadow.gif) repeat-x bottom left;
}
div#class1 ul {
	margin:0 auto;
	text-align:center;
	line-height:32px;
	padding: 0;
	list-style: none outside none;
}
div#class1  ul li {
	float: left;
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 10px;
	background: url(../img/line_white.gif) right center no-repeat;
}
div#class1 li.last,div#class1 ul li:last-child {
	background: none;
}
div#class1 a,
div#class1 a:link,
div#class1 a:active,
div#class1 a:visited {
	display: inline-block;
	/* hide from ie/mac \*/
	display: block;
	/* end hide */
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 0px 15px;
	color: white;
}
div#class1 ul li a:hover, div#class1 ul .selected {
	background-color: #3671a5;
}
div#class1 ul  li a {
	cursor: pointer;
}


.class2
{
	background: none repeat scroll 0 0 #f4f6f3;
    border: 1px solid #caccc9;
    margin: 0 0 10px;
    float: left;
	width: auto !important;
    min-width: 170px;
    height: auto !important;
	min-height: 370px;
    z-index: 999;
}
.class3_s  {
    font-weight: bold;
    height: 24px;
    text-align: right;
    width: 155px;
}
.class3
{
    height: 24px;
    text-align: right;    
}
.class3_space  {
    cursor: pointer;
}
.class2ul {
	padding-left:7px;
	padding-bottom:10px;
}
.class2textspan{
	padding-bottom:10px;
}
.class2li {
	padding:10px 0;
	border-bottom:solid 1px #e3eaf0;
}
.class3ul {
	padding-left:15px;
}
.class3li {
	margin: 1px 0 1px 0;
}
.class3li, .class3li_selected {
	width:145px;
}
.class3li div, .class3li_selected div {
	padding:5px;
}
.class3li_selected , .class3li:hover {
	background: #6293BB ;
	color:white;
}
.round { 
	border-radius: 6px; /* 所有角都使用半径为5px的圆角，此属性为CSS3标准属性 */ 
	-moz-border-radius: 6px; /* Mozilla浏览器的私有属性 */ 
	-webkit-border-radius: 6px; /* Webkit浏览器的私有属性 */ 
} 

#myLayer{
    border-style:solid; 
    border-width:2px; 
    border-color:#0B363C; 

    background: -o-linear-gradient(90deg, #C6FFB4, #F9FFF5) ;
    background: -moz-linear-gradient(90deg, #C6FFB4, #F9FFF5) ;
    background: -webkit-gradient(linear, left bottom, left top, from(#C6FFB4), to(#F9FFF5) );

    /* IE6,IE7,IE8 */     
    filter : progid:DXImageTransform.Microsoft.gradient(startColorstr='#F9FFF5',endColorstr='#C6FFB4');  

    position: absolute; 
    z-index: 9; 
    left: 506px; top: 140px; 
    visibility: hidden;    
}

div #layer_err_title{
    width:172px; height:29px; 
    background: url(../img/pop_up_title.gif); 
    no-repeat; 
    z-index:11;
}

div #layer_err_content{
    position:relative; 
    width:160px; 
    z-index:999; 
    padding-top:5px; padding-bottom:28px; padding-left:12px; padding-right:0px;
}

div #errnote{
    color: #FFFF00;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.logoarea{
	width:100%;
	height:67px;
	background: url(../img/banner.gif) no-repeat;
}
.divide_line{
	height:2px;
}


.multiImg_modify,.multiImg_delete,.multiImg_check ,.multiImg_modifydis ,.multiImg_deletedis {
    width:20px;
    height:20px;
    border:0px;
    padding:2px;
    cursor:pointer;
}
.multiImg_modify {
    background: url(../img/button_modify.gif) no-repeat; 
}

.multiImg_delete {
    background: url(../img/button_delete.gif) no-repeat; 
}

.multiImg_check {
    background: url(../img/button_check.gif) no-repeat; 
}

.multiImg_modifydis {
    background: url(../img/button_modify_dis.gif) no-repeat; 
}

.multiImg_deletedis {
    background: url(../img/button_delete_dis.gif) no-repeat; 
}


.type{ position:absolute;top:32px;right:25px;font:20px Arial,sans-serif;color:#fff;z-index:999; }
.logo_text{ position:absolute;top:16px;left:25px;font:36px Arial,sans-serif;color:#fff;z-index:999; }